<div class="container" id="principal">
    <div class="row" id="logo">
        <div class="col-md-4"></div>
        <div class="col-md-8"></div>
    </div>
    <div class="row" id="contato">
        <div class="col-md-12">
            <h1>Contato</h1>
        </div>
    </div>
</div>

<div class="container pt-br" id="pt1">
    <div class="row" id="form">
        <div class="col-md-1"></div>
        <div class="col-md-5">
        <form class="mt-3 pb-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Nome</label>
                <input type="text" class="form-control" id="nome" aria-describedby="emailHelp"
                    placeholder="Digite seu nome..." onkeypress="tecla()">


                    <label for="exampleInputEmail1">Sobrenome</label>
                    <input type="text" class="form-control" id="sobNome" aria-describedby="emailHelp"
                        placeholder="Digite seu nome..." onkeypress="tecla()">


                <label for="exampleInputEmail1">E-mail</label>
                <input type="text" class="form-control" id="email" aria-describedby="emailHelp"
                    placeholder="Digite seu e-mail...">


                <label for="exampleInputEmail1">Telefone</label>
                <input type="text" class="form-control" id="telefone" aria-describedby="emailHelp"
                    placeholder="Digite seu telefone...">


                    <label for="exampleInputEmail1">Mensagem</label>
               <textarea id="caixat" rows="10" cols="70" maxlength="500" placeholder="Digite sua mensagem..." autofocus></textarea>

        </div>
           <!-- <button type="button" class="btn btn-primary" Click="validaForm()">Enviar</button>-->
        </form>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-1"></div>
    </div>
</div>